.vertical {
  margin: 0;
  padding: 0;

  li {
    font-family: "JetBrainsMono NF ExtraBold", monospace;
    font-size: 16px;
    font-weight: bold;
    font-stretch: expanded;

    padding: 10px 5px;
  }
}

.horizontal {
  list-style: none;

  display: flex;
  flex-direction: row;

  gap: 20px;

  li {
    font-family: "JetBrainsMono NF ExtraBold", monospace;
    font-size: 16px;
    font-weight: bold;
    font-stretch: expanded;

    padding: 10px;

    a {
      transition: .1s all ease-in-out;

      &:after {
        content: "";
        position: relative;
        left: -10px;
        text-decoration: none;
        opacity: 0;
        transition: .1s all ease-in-out;
        display: inline-block;
        color: white;
      }

      &:visited {
        font-weight: lighter;
        color: gray;
        opacity: 0.8;

        &:hover {
          color: white;
        }
      }

      color: white;
    }

    &:hover {
      a {
        &:after {
          left: 5px;
          opacity: 1;
        }
      }
    }
  }
}