header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 0px 30px;
    z-index: 999;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 10px;

    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    backdrop-filter: blur(10px);

    border: 0.5px solid #36454f;

    color: white;

    & ul {
        display: flex;
        flex-direction: row;
        align-self: center;

        gap: 15px;
        list-style-type: none;

        & li {
            cursor: pointer;
        }
    }

    & .logo {
        font-size: 24px;
        font-weight: bold;
    }
}
